<ion-app>
  <!-- <app-header-app></app-header-app> -->
  <ion-header>
    <ion-toolbar color="medium" >
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="radio"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        App Music
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
            <ion-icon name="musical-notes"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-router-outlet></ion-router-outlet>
  </ion-content>
  
</ion-app>
