<ion-content class="background" >
  <!-- <p style="text-align: center; color: white">Inici&aacute; Sesi&oacute;n</p> -->
<!-- <div style="background-color: white"> -->
  <br><br><br><br><br>
  <img style="display: block; margin: auto" width="90px" height="90px" src="../../../assets/img/music-icon.png" alt="">
<!-- </div> -->
<br>

  <ion-grid>
    <ion-row>
      <ion-col>


          <ion-chip style="width: 100%; height: 50px;">
              <ion-icon name="contact" color="primary"></ion-icon>
            <ion-label style="color: white;" position="">
                Usuario
            </ion-label>
            <ion-input style="color: rgb(170, 152, 152);" type="text"></ion-input>
          </ion-chip>
          <br>
          <br>

          <ion-chip style="width: 100%; height: 50px;">
              <ion-icon name="key" color="primary"></ion-icon>
            <ion-label style="color: white;" position="">
                Contrase&ntilde;a
            </ion-label>
            <ion-input style="color: rgb(170, 152, 152);" type="text"></ion-input>
          </ion-chip>
<br>
<br>
        <div style="text-align: center">
          <ion-chip style="height: 35px;" color="primary">
              <ion-buttons>
                <ion-button style="color: white;">
                    Iniciar Sesi&oacute;n
                </ion-button>
              </ion-buttons>
          </ion-chip>
        </div>
        
      </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>

  

